/* .h1{
color: blue;
} */
/* p{color: rgb(251, 127, 4);}  */
/* button{color: rgba(2, 2, 1, 0.078);}   */
/* body{
    background-color: #eff0ed;}  
  #box{
    background-color: rgb(143, 137, 140);
  }          */
  /* .heading{color: rgb(188, 188, 200);} 
  button{
    background-color: green;
    color: black;
  }             */
  /* p{text-align: center;}
  a{text-decoration: none ;}
  .heading2{font-weight: 10000;}
  .heading3{font-family:sans-serif;}   */
/* #box{
  background-color: blue;
  color: aliceblue;

} */

/* .heading0{
  color: red;
} */
/* .hey {
  background-color: black;
  color: azure;
} */
/* .p1{
  align-content: center;
  color: black;
  text-decoration: line-through;
  font-style: oblique;
  font-family: fantasy cursive;
  line-height: 100px;
  text-transform: capitalize;
} */
/* mdn  website for leaarning about css */
/* #h1{
  font-weight: normal;
  color: blue;
} */
/* #h2{
  font-weight: high;
  color: blueviolet;
  background-color: black;
} */
/* #h3{
  font: bolder;
  color: brown;
  background-color: green;
  font-size: 100px;
  line-height: 100px;
} */
/* 96px=1 inch =2.54 c.m */
/* #chapri{
  text-align: center;
  text-transform:capitalize ;
  background-color: black;
  color: beige;

} */
/* #suiii{
  font-family: 'Times New Roman';
  background-color: black;
  color: white;
  text-transform: capitalize;
  font-size: 200px;
} */
/* .name{
  font-size: 25px;
  background-color: black;
  color: burlywood;
  font-style: italic;
} */
/* #secondone {
  font-size: 10px;
  background-color: black;
  color: green;
} */
/* 
#one {font-size: 16px;
line-height: 50px;
text-transform: capitalize;}
#project{
  text-transform: capitalize;
  text-align: center;
} */
/* *{font-family: 'Times New Roman';}
#outer{font-size: 25px;}
#inner{font-size: 10px;}
#level5{ height: 100px;
  width: 100px;
color: red;
border-width: 5px;
border-style: solid;
border-color: blueviolet;
text-align: center;
padding-top: 20     px;
margin: 10px 20px 30px 40px;
border-radius: 50%;
background-color: green;

} */
/* #level2{
  width: 200px;
  height: 50px;
  border-width: 5px;
  border-style: solid;
  border-color: blue;
}
#level3{border: 5px solid red;
text-align: center;} */
/* #navbar{background-color: #0f1111;
height: 60px;
text-transform: capitalize;} */
/* *{color: white;} */
/* #button{background-color: #f08804;}
#logo{color: #f08804;
font-size: 25px;}
#input{color: black;}
a{margin-right: 200px;
text-decoration: none;
color: white;}
#trafficlight{
  border-color: black;
  border-width: 5px;
  border-radius: 20%;
width: 200px;
height: 600px;
border-style: solid;
background-color: black;
margin-top: 25px;
} */
/* #red{height: 170px;
width: 100px;
border-radius: 50%;
border-style: solid;
border-color: red;
border-width: 1px;
background-color: red;
padding-left: 95px;
margin-top: 20px;
color: red;}
#yellow{height: 170px;
  width: 100px;
  border-radius: 50%;
  border-style: solid;
  border-color: yellow;
  border-width: 1px;
  background-color: yellow;
  padding-left: 95px;
  margin-top: 20px;
color: yellow;} */
  /* #green{height: 170px;
    width: 100px;
    border-radius: 50%;
    border-style: solid;
    border-color: green;
    border-width: 1px;
    background-color: green;
    padding-left: 95px;
    margin-top: 20px;
  color: green;} */
/* #div2{display: inline-block;
background-color: red;
height: 100px;
width: 100px;
margin: 25px;}
#div3{display: inline-block;
  background-color: red;
  height: 100px;
  width: 100px;
margin: 25px;}
#head1{display:inline;} */
/* #ns{
  background-color: black;
  color: aquamarine; 
  border-width: 100px;
  border-style: groove;
  padding-right: 50px;
  font-style: oblique;
  text-align: center;
  height: 500px;
  border-radius: 50px;
} */
 /* alpha channel=opacity of colour rgba */
/* #navbar{background-color: #0f1111;
  height: 60px;
  text-transform: capitalize;
color: white;}
   #button{background-color: #f08804;}
  #logo{color: #f08804;
  font-size: 25px;}
  #input{color: black;}
  a{margin-right: 200px;
  text-decoration: none;
  color: white;} */
/*#div1{height: 100px;
width: 100px;
border-width: 5px;
border-color: black;
border-style: groove;
background-color: brown;
opacity: 0.5;
margin-top: 20px;}
#div2{height: 100px;
  width: 100px;
  border-width: 5px;
  border-color: black;
  border-style: groove;
background-color: blue;
opacity: 0.5;
margin-top: 20px;}
  #div3{height: 100px;
    width: 100px;
    border-width: 5px;
    border-color: black;
    border-style: groove;
  background-color: darkgreen;
opacity: 0.5;
margin-top: 20px;}
footer{
  background-color: #0f1111;
  text-align: center;
  color: white;
  margin-top: 20px;}
  #content{height: 600px;} */
  /* #div1{ height: 100px;
  width: 100px;
  font-size: 10px;
background-color: red;}
  #div2{ height: 50px;
width: 30%;
font-size: 1em;
background-color: green;
width: 2em;}
#fo{font-size: 50px;}
#of{font-size: 1emem;
width: 5rem;} */
/* em=parent px
width=jitna width ka em hoga multiply font size */
/* em
rem 
vh 
vw */
/* div{ height: 100px;
width: 100px;
background-color: red;
border: 2px groove black;
display: inline-block;}
/* positions:- */
/* static
relative
absolute
fixed
sticky  */
/* #box1{ position: relative;
top: 0px;
left: 10px;
z-index: -1;} */
/* z index control overlapping */
/* #box1{
  background-image: url("i.jpg");
  height: 500px;
  width: 500px;
  background-size: cover;
  background-color: red;
} */
/* div{height: 100px;
width: 100px;
background-image: url(i.jpg);
background-size: cover;
position: fixed;
background-color: red;
display: inline-block;
right: 0px;
top: 50px;} */
/* body{text-align: center;}
div{
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 2px solid black;

}
#container{
  width: 800px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center; */
/* flex-wrap: wrap; */
/* align-items: flex-start; */
/* align-content: flex-start; */

/* }
#box1{
  background-color: green;
}
#box2{
  background-color: rgb(50, 102, 215);
  height: 100px;
}
#box3{
  background-color: rgb(224, 94, 14);
  height: 50px;
}
#box4{
  background-color: red;
}
#box5{
  background-color: rgb(176, 14, 106);
  
} */
/* flex direction 
row= main axis left to right
column = cross axis top to last
align contentt
row =cross axis
column = main axis 
align item and align content = cross axis */
/* jab ham align content center karte hai to cross axis center mai a jati hai */
/* a{text-decoration: none;
color: white;
}
#navbar{
display: flex;
background-color: black;
justify-content: space-evenly;
}
li{list-style-type: none;
display: inline;} */
/* #flexing{
  border: 2px solid black;
  display: flex;
height: 200px;
width: 300px;
justify-content: center;   
align-items: center;
}
#div1{
  height: 80px;
  width: 80px;
  background-color: blue;
} */
/* div{
  height: 200px;
  width: 150px;
  background-color: aqua;
}
@media (max-width:300px){
  div {background-color: green;}
}
@media (min-width:300px) and (max-width:400px){
  div {background-color: pink;}
}
@media (min-width:400px) and (max-width:600px){
  div {background-color: red;}
}
@media (min-width:600px){
  div {background-color: blue;}
} */
/* div{
  height: 200px;
  width: 150px;
    background-color: aqua;
  border:2px solid black; */
  /* transition-property: all;
transition-duration: 2s;
transition-timing-function: ease-in;
transition-delay: 1s;} */
/* transition: all 2s ease-in 0.5s;} */
   /* div:hover{
    background-color: rgb(214, 31, 31)
    ;
    font-size: 40px;
    transform: rotate(90deg);
    scale: 0.5;
  }
  /* div:active{
    background-color: rgb(55, 16, 211);} */
    /* transition shorthand 
    transition property duration function delay */
    /* div{
      height: 200px;
      width: 150px;
        background-color: aqua;
      border:2px solid black; 
    transform: rotate(
    45deg);
  scale: 0.5;} */ 
  /* #orange{height: 170px;
    width: 100px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(255, 196, 0);
    border-width: 1px;
    background-color: rgb(255, 102, 0);
    padding-left: 95px;
    margin-top: 20px;}
    #green{height: 170px;
      width: 100px;
      border-radius: 50%;
      border-style: solid;
      border-color: green;
      border-width: 1px;
      background-color: green;
      padding-left: 95px;
      margin-top: 20px;
    color: green;}dcxz
    #red{height: 170px;
      width: 100px;
      border-radius: 50%;
      border-style: solid;
      border-color: red;
      border-width: 1px;
      background-color: red;
      padding-left: 95px;
      margin-top: 20px;
      color: red;}
      #nikku{
        background-color: black;
        border-radius: 200px;
        width: 200px;
  
      } */
/* #nikku1{
  background-color: #0f1111
  ;
  border-style: groove;
  height: 60px;
  border-color: white

}
#nishu{
  font-size: 25px;
  color: #f08804;

}
a{
  text-decoration: none;
  color: white;
  margin-right: 200px;

}
button{
  background-color: #f08804;
  color: white;
} */
/* #choth{
  background-color: black;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 #chapri{
height: 100px;  
width: 100px;
background-color: white;
 } */
 
/* div{
  height: 200px;
  width: 150px;
    background-color: aqua;
  border:2px solid black;
  position: absolute;
margin: 200px;
animation-name: coloranimate;
animation-duration: 0.25s;
animation-timing-function: ease-in;
animation-delay: 0s;
animation-iteration-count: infinite;
animation-direction: alternate; 
border-radius: 50%;
animation: coloranimate 0.25s ease-in 0s infinite alternate;

}
@keyframes coloranimate {
  from {background-color: aquamarine;
  left: 0px;}
  to{background-color: red;
  left: 200px;}
} */
/* #div{
  background-color: pink;
  display: inline;
}
button{
  display: block;

} */
/* #n{
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  margin: 25px;
  padding: 25px;
  display: inline;
}
#s{
  background-color: blue;
  width: 100px;
  height: 50px;
  margin: 25px;
  padding: 25px;
  display: inline;
  /* display: none; */
  /* visibility: hidden; */
/* }
#g{
  background-color: brown;
  width: 100px;
  height: 100px;
  margin: 25px;
  padding: 25px;
  display: inline;

   */
/* #nikku{
  background-color: black;
  color: white;
  height: 60px;

}
#n{
  color:orange;
  
}
a{
  margin: 100px;
}
#div1{
  background-color: black;
  height: 200px;
width: 200px;
margin: 25px;


}
#div2{
  background-color: blue;
  height: 200px;
width: 200px;
margin: 25px;

} 
#div3{
  background-color: red;
  height: 200px;
width: 200px;
margin: 25px;
opacity: 0.5;
border: 20px solid green;


}
footer{
  text-align: center;
} */
/* div{
  height: 200px;
  width: 150px;
    background-color: aqua;
  border:2px solid black;
  position: absolute;
margin: 200px;
animation-name: coloranimate;
animation-duration: 5s;
animation-timing-function: ease-in;
animation-delay: 0s;
animation-iteration-count: 5;
animation-direction: alternate;  
border-radius: 50%;


}
@keyframes coloranimate {
  0%{background-color: aquamarine;
  left: 0px;}
  50%{ background-color: black;}
  100%{background-color: red;
  /* left: 200px;}
} */
/* #loader{
  height: 200px;
  width: 200px;
    /* background-color: aqua; */
  /* border:20px solid white;
    position: absolute;
  border-radius: 50%;
  animation-name: coloranimate;
animation-duration: 1s;
animation-timing-function: ease-in;
animation-delay: 0s;
animation-iteration-count: infinite;
animation-direction: linear; 
border-top: 20px solid blue; 
   */
/* }
@keyframes coloranimate{
  from{ transform: rotate(0deg);}
  to{transform: rotate(360deg);}
} */ 
*{
  margin: 0;
  font-family: Arial;
  border: border-box;
}
.navbar{
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo{
  height: 50px;
  width: 100px;

}
.logo{
  background-image: url("/images/amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}
.border{
  border: 1.5px solid transparent;
}
.border:hover{
  border: 1.5px solid white;
}
/** box 2  **/
.add-first{
  color: #cccccc;
  font: size 0.85rem; 
  margin-left: 15px;
}
.add-second{
  font-size: 1rem;
  margin-left: 4px;

}
.add-icon{
  display: flex;
}
/** box3 **/
.nav-search{
  display: flex;
  justify-content: space-evenly;
  background-color: orange ;
  width: 620px;
  height: 40px;
  border-radius: 4px ;
  
}
.search-select{
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius:4px ;
  border-bottom-left-radius:4px;
  border: none;

}
.search-input{
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon{
  width: 45px;
  color: #0f1111;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: orange;
  border-top-right-radius:4px ;
  border-bottom-right-radius:4px;

}
.nav-search:hover{
  border:3px solid orange
  
}
/** box4 */
span{
  font-size: 0.7rem;
}
.nav-second{
  font-size: 0.85rem;
  font-weight:700 ;

}
/** box6**/
.nav-cart i{
  font-size: 30px;
}
.nav-cart{
  font-size: 0.80rem;
  font-weight:70rem ;
}
/** panel **/
.panel{
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;

  
}
.panel-ops p{
  display: inline;
  margin-left:15px ;
}
.panel-ops{
  width: 70%;
}
.panel-deals{
  font-size: 0.9rem;
}
.mera-section{
  background-image : url(/images/hero_image.jpg);
  height: 600px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
}
.hero-msg{
  background-color: white;
  color: black;
  height:40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  width: 80%;
  margin-bottom: 25px;


}
.hero-msg a{
  color: #007185;
}
.shop-section{
  display: flex;
  justify-content: space-evenly;
  flex-wrap:wrap ;
  background-color: #222f3d;
}
.box{
  border: 2px solid black;
  height:400px;
  width:23% ;
  color: black;
  background-color: white;
  padding: 20px 0px 15px;
}
.box-img{
  height:300px;
  background-size: cover;
  margin-top: 1rem;
margin-bottom: 1rem;
}
.box-content{
  margin-left: 10px;
  margin-right: 10px;
}
.box-content p{
  color:blue;
}
footer{
  margin-top: 15px;
}
.foot-panel1{
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}
.foot-panel2{
  background-color: #222f3d;
  color: white;
  height:400px;
  display: flex;
  justify-content: space-evenly;

}
ul{
  margin-top:10px; 
}
ul a {
  display: block;
  font-size: 1rem;
  margin: 10px;
  color: #dddddd;
}
.foot-panel3{
  background-color: #222f3d;
  color: white;
  border-top:0.5px solid white ;
  height:70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  background-image: url("/images/amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}
.foot-panel4{
  background-color:#0f1111 ;
  color: white;
  height:100px;
  background-size: cover;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.pages{
  font-size: 1rem;
  text-align: center;
  padding: 25px;

}
.copyright{
  padding-top: 5px;
  font-size: 1rem;
  text-align: center;
}